# Node.js & general
node_modules/
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.local

# Build output
/dist/
/build/

# Vite
frontend/dist/

# React
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/node_modules/
backend/.env
backend/.env.*
backend/dist/
backend/build/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/pnpm-debug.log*

# Logs
logs
*.log
backend/logs

# OS & IDE
*.swp
*.swo
.idea/
.vscode/
Thumbs.db
.DS_Store

# Misc
*.zip 